body {
  width: 100%;
  background-color: black;
  color: white;
}

header {
  width: 100%;
  text-align: center;
}
.headerButtons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.headerButtons li {
  background-color: ;
}
