:root {
  --color-blue: #90caf9;
  --color-white: #f5f5f5;
  --color-lightgray: #c2c2c2;
}
body {
  background-color: var(--color-blue);

  text-align: center;
}
.container {
  background-color: var(--color-white);
  margin: 30px auto;
  width: 40%;
  border-radius: 10px;
}
.defaultIcons {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-lightgray);
  padding: 1rem;
}
.navbar {
  display: flex;
  alig-items: center;
}
.navbar i {
  width: 33%;
  font-size: 2rem;
  text-align: center;
}
.navbar .title {
  width: 33%;
}
