:root {
  --light-green: #c1d72e;
  --white: #fff;
}
body {
  background-color: var(--light-green);
  color: var(--white);
  text-align: center;
  font-size: 1.5rem;
}
h1 {
  letter-spacing: 0.3rem;
}
.title {
  font-weight: 300;
}
.answerContainer {
  margin: auto;
}
.hangmanContainer {
  margin: auto;
  width: 300px;
  height: 200px;
  border: 1px solid var(--white);
}
.buttons {
  width: 50%;
  margin: auto;
}
.hint,
.playAgain {
  width: 50%;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 1rem 3rem;
  color: var(--white);
  font-size: 2rem;
  margin-top: 1rem;
}
