body {
  background-color: black;
}
.time {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.time > span {
  color: #40c4ff;
  font-size: 4rem;
  margin: 0.3rem;
}
