body {
  background-color: orange;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  border: 1px solid white;
}
