body {
  background-color: orange;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
ul li {
  display: flex;
  flex-wrap: wrap;
}
ul li button {
  font-size: 5rem;
  padding: 2rem;
  background-color: transparent;
  color: white;
}
