body {
  background-color: #e8eaf6;
  display: float;
  text-align: center;
  margin: auto;
}
.gameBoard {
  display: float;
}
.gameBoard .grid {
  width: 30px;
  padding-bottom: 30px;
  margin: 10px;
  background-color: grey;
}
